<div class="intro py-3 text-center">
    <div class="container">
      <h2 class="text-primary display-5 my-4">My travel journal </h2>

<%= render :template => "notes/new" %>
    </div>
</div>

<div class="container">
   <h2 class="text-center text-primary display-5 my-4">Older posts </h2>

  <%= @getCurrentCityTemp %>

  <% @notes.reverse.each do |note| %>
    <div class="card my-3">
      <div class="card-header d-flex justify-content-between">
       <p><%=note.created_at.to_date%></p>
        <h5><%= link_to note.city, note_path(note)%> <%= note.weather %> °C </h5>
        <div class="text-right">
          <%= link_to "Delete",
            note_path(note),
            method: :delete,
            class: 'ml-5',
            data: { confirm: "Are you sure?" } %>

          <%= link_to "Edit", edit_note_path(note), class: 'ml-5'%>
        </div>
      </div>
      <div class="card-body">
        <p><%=note.message%></p>
      </div>
    </div>
  <% end %>
</div>





 



