<div class="intro py-3 text-center">
    <div class="container">
      <h2 class="display-5 my-4">My travel journal </h2>

      <%= render :template => "notes/new" %>
    </div>
</div>


<div class="container">
   <h2 class="text-center display-5 my-4">Older posts </h2>
  
  <%= @get_current_city_temp %>
  <% @notes.reverse.each do |note| %>
    <div class="card my-3">
      <div class="card-header d-flex justify-content-between">
        <strong><%= link_to note.city, note_path(note)%></strong>
        <%=note.created_at.to_date%>,
        <%= note.weather %> °C 
      </div>
        <div class="card-body">
          <p><%=note.message%></p>
          <div class="text-right">
            <%= link_to "Delete",
              note_path(note),
              method: :delete,
              class: 'btn btn-ghost btn-sm ml-5',
              data: { confirm: "Are you sure you want to delete this note?" } %>
            <%= link_to "Edit", edit_note_path(note), class: 'btn btn-ghost btn-sm ml-3'%>
          </div>
        </div>
      </div>
  <% end %>
</div>
</div>






 



