      
      <%= form_with(model: [@note], local: true) do |f| %>


      <% if flash[:success] %>
        <div class="alert alert-info"><%= flash[:success] %></div>
      <% end %>
      <% if flash[:error] %>
        <% flash[:errors_list].each do |message| %>
          <div class="alert alert-danger"><%= message[1][0] %></div>
        <% end %>
      <% end %>


        <div class="form-group">
            <%= f.label :city, 'City' %>
            <%= f.text_field :city, :required => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :message %>
            <%= f.text_area :message, :required => true, size: '50x5', :class => 'form-control' %>
        </div>        
        <%= f.submit 'Create a post', :class => 'btn btn-ghost'  %>
      <% end %>
